<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Literata:opsz,wght@7..72,400;7..72,500;7..72,600;7..72,700;7..72,800;7..72,900&display=swap" rel="stylesheet">
    <title>Celtics Roster</title>
</head>
<body>
    <h1>Celtics Roster</h1>
    <ul>
        <% skills.forEach(skill => { %>
            <li>
                <form 
                    action="/skills/<%= skill._id %>?_method=Delete"
                    class="delete-form"
                    method="POST"
                    >
                <button type="submit">X</button>
                </form>
                
                <a href="/skills/<%= skill._id %>"><%= skill.name %></a>
                -
                <a href="/skills/<%= skill._id %>"><%= skill.position %></a>
                -
                <a href="/skills/<%= skill._id %>"><%= skill.jersey %></a>
                -  
                <%= skill.start? 'Starter' : 'Not Starter' %>
            </li>
       <% })%>
    </ul>
    <a href="/skills/new">Add Player</a>
</body>
</html>